<h1>Hello Angular World!</h1>
<hr>

<input type="text" [(ngModel)]="title1">
<p><strong>{{ title1 }}</strong></p>

<br>
<br>
<hr>

<input
  type="text"
  (keyup.enter)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
>
<p><strong>{{ inputValue }}</strong></p>
<p>{{title}}</p>





<img [src]="img" alt="Angular vs React">

<p><strong> {{ number }} </strong></p>
<p><strong> {{ arr }} </strong></p>
<p><strong> {{ obj }} </strong></p>
<p><strong> {{ obj.a }} </strong></p>
<p><strong> {{ obj.c.m }} </strong></p>
<p><strong> {{ 'Hello' + ' world!' }} </strong></p>


<hr>

<app-post></app-post>

<hr>
<app-post4></app-post4>

